.App {
  display: flexbox;
  flex-wrap: wrap;
}
.Icon-money {
  max-width: 160px;
  max-height: 160px;
  width: auto;
  height: auto;
  margin-right: 20px;
}
.criador {
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
  margin-right: 20px;
}
.App-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
}
@media (max-width: 415px) {
  .App-header {
    display: inline-block;
  }
}
#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#content .block {
  background-color: white;
  width: 300px;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  margin: 5px;
  overflow: hidden;
}
.footer {
  color: black;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.container{
  background-image: url(./imgs/Fundo.png);
}